*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 95vh;
  max-width: 99vw;
  color: #fff;
  background-color: #243b55;
  font-family: "Poppins", sans-serif;
}
